<div class="footer">
    <div class="container">
        <div class="pull-left">
            <!--<strong>Massive Manipulation &#8212; a joint venture of Aaron Becker &amp; Chris Ertel</strong>-->
            <strong>SwarmControl &#8212; Aaron Becker &amp; Chris Ertel</strong>
             <div class="pw-widget pw-size-small" style="display: inline;">
                <a class="pw-button-facebook"></a>
                <a class="pw-button-googleplus"></a>
                <a class="pw-button-reddit"></a>
                <a class="pw-button-linkedin"></a>
                <a class="pw-button-twitter"></a>
                <a class="pw-button-email"></a>
                <a class="pw-button-stumbleupon"></a>
                <a class="pw-button-baidu"></a>
                <a class="pw-button-pinterest"></a>
            </div>
            <script src="http://i.po.st/static/v3/post-widget.js#publisherKey=36rlhf2cmaqtd6sima7n" type="text/javascript"></script>


        </div>
        <div class="pull-right">
            &copy;2013 

<!-- A link to launch the Classic Widget -->
<!--<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="216758">Feedback &amp; Support</a>-->
             <a href='mailto:swarmcontrol-feedback@rice.edu'><font color=#CCC>swarmcontrol-feedback@rice.edu</font></a>  
        </div>
    </div>
</div>
