<div class="footer">
    <div class="container">
        <div class="pull-left">
            <strong>Massive Manipulation -- a joint venture of Aaron Becker &amp; Chris Ertel</strong>
        </div>
        <div class="pull-right">
            &copy;2013 Questions: <a href=“swarmcontrol-feedback@rice.edu”><font color=#CCC>swarmcontrol-feedback@rice.edu</font></a>
        </div>
    </div>
</div>
