<div class="footer">
    <div class="container">
        <div class="pull-left">
            <strong>Massive Manipulation &#8212; a joint venture of Aaron Becker &amp; Chris Ertel</strong>
        </div>
        <div class="pull-right">
            &copy;2013 

<!-- A link to launch the Classic Widget -->
<!--<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="216758">Feedback &amp; Support</a>-->
             <a href='mailto:swarmcontrol-feedback@rice.edu'><font color=#CCC>swarmcontrol-feedback@rice.edu</font></a>  
        </div>
    </div>
</div>
