<div class="footer">
    <div class="container">
        <div class="pull-left">
            <strong>Massive Manipulation -- a joint venture between Aaron Becker &amp; Chris Ertel</strong>
        </div>
        <div class="pull-right">
            &copy;2013
        </div>
    </div>
</div>
