<div class="container">
    <h1> RESULTS
        <br>
    <span class="btn-group">
        <%= link_to "As CSV", "/show_results.csv", :class=>"btn btn-mini btn-info"%>
        <%= link_to "As JSON", "/show_results.json", :class=>"btn btn-mini btn-info"%>
    </span>
</h1>

<br>

<script>
    $(document).ready( function () {
        swarmcontrol.results.init( $(".-charts"), gon.results);
    });
</script>

    <div class="results-page">
        <% @charts.each do |taskname| %>
            <div class="results-chart-container">
                <div class="results-chart -chart-<%=taskname%>">
                </div>
            </div>
        <% end %>
    </div>
</div>
