<div class="container">

    <h1>Massive Manipulation</h1>
    <hr>

    <h2>Swarm positioning</h2>
    <ul>
        <li>
            <%= link_to "/task/robot_positioning" do %>
                Robot positioning
            <% end %>
        </li>
    </ul>

    <h2>Maze navigation</h2>
    <ul>
        <li>
            <%= link_to "/task/maze_positioning" do %>
                Maze positioning
            <% end %>
        </li>
    </ul>

    <h2>Construction</h2>
    <ul>
        <li>
            <%= link_to "/task/pyramid_building" do %>
                Pyramid building
            <% end %>
        </li>
    </ul>

</div>
