<h1>Massive Manipulation</h1>

<ul>
    <li>
        <%= link_to "/task/robot_positioning" do %>
            Robot positioning
        <% end %>
    </li>
    <li>
        <%= link_to "/task/object_positioning" do %>
            Object positioning
        <% end %>
    </li>
</ul>

