<h1> Massive Manipulation: <%= @task_name_pretty %> </h1>

<canvas id="canvas" width="600" height="600" style="background-color:#EEEEEE;" >
</canvas>

<div id="cc">
</div>

<script>
    $(function() { app.init( '<%= @task_name%>' ); });
</script>

<br>
 <a href="http://www.youtube.com/watch?v=5p_XIad5-Cw">Video showing automated solution</a>
