<% content_for :sidebar do %>
    <script>
        $(function() { app.init( '<%= @task_name%>' ); });
    </script>
  

    <h1> Massive Manipulation</h1>
    <%= link_to "/" do %>
        Return to task selection...
    <% end %>

    <hr>

    <div id="taskName">
        <strong> Task: </strong>
        <span> <%= @task_name_pretty %> </span>
    </div>
   
    <div id="taskMode">
    </div>

    <div id="taskFeedback">
    </div>

    <div id="task-instructions" class="well">
    </div>
    <button id="-play-again-button" class="btn btn-success" onClick="window.location.reload()"> Restart</button>
    <button id="-show_results-button" class="btn btn-success" onClick="parent.location='../show_results'"> Show Results</button>
    <br>
    

<% end %>

<% content_for :workspace do %>
    <canvas id="canvas" width="600" height="600" style="background-color:#EEEEEE;" >
    </canvas>
<% end %>
