<% content_for :sidebar do %>
    <script>
        $(function() { app.init( '<%= @task_name%>' ); });
    </script>
  

    <h1> Massive Manipulation:</h1>
    <div id="taskName">
    <h3><%= @task_name_pretty %> </h3>
    </div>
    <!-- <%= link_to "/" do %>
        Return to task selection...
    <% end %> -->

    <!-- <div id="taskMode">
    </div> -->
  

    <div id="task-instructions" class="well">
    </div>
    <button id="-play-again-button" class="btn btn-success" onClick="window.location.reload()">Restart</button>
    <button id="-show_results-button" class="btn btn-success" onClick="parent.location='../show_results'">Show Results</button>
    <button id="-tasks-button" class="btn btn-success" onClick="parent.location='../'">Tasks</button>
    <script type="text/javascript">
      $(document).ready(function() {
      // Hide the "view" div.
      $('div.view').hide();
      // Watch for clicks on the "slide" link.
      $('div.slide').click(function() {
      // When clicked, toggle the "view" div.
      $('div.view').slideToggle(400);
      return false;
    });
    });
    </script>
    <div id="task-theScience" class="well" class="slide" style="height:175px;overflow:auto;">
    </div>

    <br>
<% end %>


<% content_for :workspace do %>
    <div class="pull-right" id="taskFeedback"> 
    </div>
    <canvas class="pull-right" id="canvas" width="600" height="600" style="background-color:#EEEEEE;" >
    </canvas>
<% end %>
