body, html 
{
    margin-top:40px;
    background-image: url("climpek.png");
    background-repeat: repeat;
}

hr
{
    color: #000;
    border-top: 0px;
    border-bottom: 5px solid #ccc;
}

.footer
{
    position:fixed;
    bottom:0px;
    color: #ccc;
    background-color: #000;
    width:100%;
}
