<!DOCTYPE html>
<html>
<head>
  <title>Ensemble</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<script>
    $(document).ready(function(){

        if (document.cookie.indexOf("tos_seen") == -1) {

            $.colorbox({width:"50%", height:"50%",inline:true, href:"#terms-of-service"});
            $("#-tos-accept-button").on("click", function () {
                $.colorbox.remove();
                document.cookie = "tos_seen=true";
            });
        }
    });
</script>

<%= yield %>

</body>
</html>
